= bootstrap_form_for [@current_user, @note], html: { class: 'note-form' } do |form|
  = form.text_area :text, placeholder: 'An important note...'
  = form.check_box :favorite
  = form.submit 'Done', class: 'btn btn-lg btn-primary btn-block'