.content
  %h2 EzNote
  .actions 
    = button_to 'All', user_notes_path(@current_user), class: 'btn btn-lg btn-primary', method: :get
    = button_to 'New', new_user_note_path(@current_user), class: 'btn btn-lg btn-primary', method: :get
    = button_to 'Favorites', root_url, class: 'btn btn-lg btn-primary', method: :get