// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.note-form {
  height: 100%;

  .form-group {
    height: 80%;
  }

  #note_text {
    height: 100%;
  }

  .control-label {
    display: none;
  }

  .checkbox {
    padding-top: 0.5em;
  }
}


ul.note-tab-column {
  display: table;
  table-layout: fixed;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  list-style-type: none;
  padding-left: 0;

  li.note-tab {
    text-align: center;
    display: table-row;
    margin-top: 1em;

    span.note-tab-content {
      display: table-cell;
      vertical-align: middle;

      p.note-text {
        padding-top: 1em;
        padding-bottom: 1em;
        background: pink;
      }
    }
  }
}

ul.note-tab-column-left {
  @extend .note-tab-column;
  top: 0;
  left: 0;
}

ul.note-tab-column-right {
  @extend .note-tab-column;
  top: 0;
  right: 0;
}